@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-arabic: var(--font-arabic);
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-green:#095543;
    --light-green:#B9BF65;
    --main-bg:#F6EAC8;
    --light-blue:#B1C8D9;
    --zekr-gray:#757575
  }
}

body {
  font-family: var(--font-arabic);
}
