@import "tailwindcss";

:root {
  --dark-green: #095543;
  --light-green: #b9bf65;
  --main-bg: #FDFBF7;
  --main-biege: #f6eac8;
  --light-blue: #F0F5F8;
  --zekr-gray: #757575;
  --light-zekr-gray: #EAEFEF;
}

@theme {
  --font-arabic: var(--font-arabic);
  --color-dark-green: var(--dark-green);
  --color-light-green: var(--light-green);
  --color-main-bg: var(--main-bg);
  --color-main-biege: #f6eac8;
  --color-light-blue: var(--light-blue);
  --color-zekr-gray: var(--zekr-gray);
  --color-light-zekr-gray: var(--light-zekr-gray);
}

body {
  font-family: var(--font-arabic);
}

/* ///////////////////////////// */
@keyframes reveal {
  from {
    clip-path: inset(0 0 0 100%);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

.logo {
  animation: reveal 2s ease forwards;
}
